{% extends 'base.html.twig' %}

{% block content %}

   <h3>  Resultados obtenidos {{ resultado|length }} </h3>

	{% for row in resultado|batch(3) %}
		{% set loopIndex = loop.index0 ~ "" %}
		<div class="row">
			{% for persona in row %}
				<div class="col-xs-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							{{ persona.deno }}
						</div>
						<div class="panel-body">
							<h6>{{ persona.idPersona }}</h6>
							<h6>{{ persona.tdoc ~ ' ' ~ persona.ndoc }}</h6>
							<h6>{{ persona.cuit }}</h6>
							<h6>{{ persona.provincia }}</h6>
							<h6>
								{% if persona.fnac is not null %}
									{{ persona.fnac | date('d/m/Y') }}
								{% endif %}
							</h6>
							<h6>{{ persona.sexo }}</h6>
							<h6>{{ persona.gradoConfiabilidad }}</h6>
							<h5>{{ 'Fallecido' ~ ':' ~ persona.fallecido }}</h5>

							{% if persona.domicilios|length > 0 %}
							 <a data-toggle="collapse" href="#domicilio-{{ persona.idPersona }}" style="text-decoration:none">Ver domicilios</a>
							  <ul id="domicilio-{{ persona.idPersona }}" class="collapse">		
								{% for domicilio in persona.domicilios %}
									<li> {{ domicilio.calle }} {{ domicilio.nro }} <em>{{ domicilio.localidad }}</em> <strong>{{ domicilio.baseOrigen }}</strong></li>
								{% endfor %}
							  </ul>		
						    {% endif %}
														

							<div class="panel-group" id="accordion-{{ persona.idPersona }}" role="tablist" aria-multiselectable="true">

							 {% if persona.coberturas|length < 1 %} 
							 	 	<div class="form-anexo">
							 	  {% set formPersona = coleccionFormulariosSinCobertura[persona.idPersona] %}
											{{ form_start(formPersona) }}
												 <div class="hidden">
												{{form_rest(formPersona)}}
												</div>
												<input type="submit" value="Generar anexo II Sin Cobertura" />
								       		{{form_end(formPersona)}}
									</div>
							 {% endif %}
							

								{% for obra in persona.coberturas %}
									{% set loopIndex = loopIndex ~ loop.index0 %}
								  <div class="panel panel-default">
								    <div class="panel-heading" role="tab" id="heading-{{ loopIndex }}">
								      <h4 class="panel-title">
								        <a role="button" data-toggle="collapse" data-parent="#accordion-{{ persona.idPersona }}" href="#collapse-{{ loopIndex }}" aria-expanded="true" aria-controls="collapse-{{ loopIndex }}">
								        	{% if obra.obraSocial is not empty %}
												<h5>{{ obra.obraSocial  }}</h5> 
								        	{% else %}
												Sin dato cabecera..
								        	{% endif %}
								        </a>
								      </h4>
								    </div>
								    <div id="collapse-{{ loopIndex }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ loopIndex }}">
								      <div class="panel-body">
								       <h6> {{ 'INOS' ~ ': ' ~ obra.codigo}} </h6>
								       <h6> {{ 'Ult.Periodo' ~ ': ' ~ obra.periodo }} </h6>
								       <h6> {{ 'Parentesco' ~ ': ' ~ obra.parentesco }} </h6>
								       <h6> {{ 'Fecha alta' ~ ': ' ~ obra.fechaAlta }} </h6>
								       <h6> {{ 'Base Origen' ~ ': ' ~ obra.baseOrigen }} </h6>

										<div class="form-anexo">
											{% set formPersona = coleccionFormularios[persona.idPersona ~ "-" ~ obra.codigo] %}
											{{ form_start(formPersona) }}
												 <div class="hidden">
												{{form_rest(formPersona)}}
												</div>
												<input type="submit" value="Generar anexo II" />
								       		{{form_end(formPersona)}}
										</div>
								       

								      </div>
								    </div>
								  </div>
								{% endfor %}

							</div>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}

	<!-- {{ dump(resultado) }} -->


{% endblock %} 