{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
{% if error %}
<div class="row">
    <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4 col-md-offset-4 col-sm-offset-3 col-lg-offset-4">
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    </div>
</div>
{% endif %}
<div style="margin-top:40px;">
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3"></div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div style="padding:20px;background-color:rgba(255,255,255,1);border-radius:4px">
            <h4>Validar Usuario<i class="fa fa-lock pull-right" style="color:#EEE"></i></h4>
            <hr>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <input type="text" placeholder="Nombre de usuario" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
                    </div>

                    <div class="form-group form-group-contrasena">
                        <input type="password" placeholder="Contraseña" id="password" name="_password" required="required" class="form-control" />
                        <p class="small"><a href="{{ path('fos_user_resetting_request') }}" class="pull-right">Olvidé mi contraseña</a></p> 
                    </div>

                    <div class="form-group form-group-recordarme">
                        <p><input type="checkbox" id="remember_me" name="_remember_me" value="on" checked />
                        <label class="small" for="remember_me">Recordarme</label></p>  
                    </div>
                        

                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-success btn-block" />
                </form>
                </div>
            

    </div>
    <div class="col-lg-4 col-md-4 col-sm-3"></div>
</div>
</div>
<script type="text/javascript">
    document.getElementById('username').focus();
</script>
{% endblock content %}
